<div class="grid">
    <div class="col-12">
      <div class="card">
        <br>
        <h2 style="text-align: center;">Patient Details</h2>
        <hr>
        <div class="grid">
            <div class="col-12">
                <div class="card">
                    <h2 style="text-align: center;">Your Patient List is here</h2>
                 
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
   
  <br>

        
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Patient</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">First Name</th>
            <th style="width: 30%">Last Name</th>
            <th style="width: 30%">Email</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary me-1">Edit</a>
                <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
<div class="container">
    <div class="footer-content" style="padding-left: 450px;padding-top: 270px;">
   

      <p>&copy; 2023 Agam Shah. All rights reserved.</p>
    </div>
  </div>