<div class="grid">
    <div class="col-12">
      <div class="card">
        <br>
        <h2 style="text-align: center;">Product Details</h2>
        <hr>
        <div class="grid">
            <div class="col-12">
                <div class="card">
                    <h2 style="text-align: center;">Details of Product</h2>
                    <!-- <p>This is your empty page template to start building beautiful applications.</p> -->
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
        <app-footer></app-footer>
  

        